<div class="container">
	<H1>Welcome {{LOGGEDIN_USER}}</H1>

	<table class="table table-striped">
		<caption>{{app}}</caption>
		<thead>
			<tr>
				<th>Description</th>
				<th>Target Date</th>
				<th>Actions</th> 
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td ng-repeat="flight in flights">{{flight.name}}</td>
				<td ng-repeat="flight in flights">{{flight.destination}}</td>
				<td>&nbsp;&nbsp;<a class="btn btn-danger" href="/delete-flight.do?flight={f.name}&destination={f.destination}">Delete</a></td>
			</tr>
		</tbody>
	</table>

	<p>
		<font color="red">{{errorMessage}}</font>
	</p>
	<a class="btn btn-success" href="/add-flight.do">Add New Flight</a>
</div>
